<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container card card-body" style="background-color: lightcyan">
		<h1 class="text-center text-primary">My entries</h1>
	<a href="{% url 'addentry'%}" class="btn btn-danger btn-md col-md-2 float-right">Addentry</a>
	<table class="table table-bordered table-hover table-striped bg-info">
		<tr>
			<th>ID</th>
			<th>Description</th>
			<th>TimeStamp</th>
		</tr>
		<tr>
			{% for ent in data %}
			<td>{{ent.id}}</td>
			<td>{{ent.text}}</td>
			<td>{{ent.date_text}}</td>
		</tr>
		{% endfor %}
	</table>
	</div>
</body>
</html>