<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container card card-body col-md-4 mt-4" style="background-color:skyblue;">
  <h2 class="text-center text-danger">RegistrationForm</h2>
  <form action="#" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="fname">FirstName:</label>
      <input type="text" class="form-control" id="fname" placeholder="Enter fname" name="first_name">
    </div>
    <div class="form-group">
      <label for="lname">Last_Name:</label>
      <input type="text" class="form-control" id="lname" placeholder="Enter lname" name="last_name">
    </div>
    <div class="form-group">
      <label for="uname">UserName:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter uname" name="username">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter****" name="password">
    </div>

    <div class="text-center">
      <input type="submit" value="Register" class="btn btn-outline-warning btn-lg mb-3">
    </div>

  </form>
</div>