<!DOCTYPE html>
<html>
<head>
	<title>Forms Page</title>
</head>
<body>
	<h1>Form Examples</h1>
	<form action="{% url 'forms' %}" method="POST">
		
		{% csrf_token %}

	<label>Name</label>
	<input type="text" name="name" placeholder="Enter Your Name" required>
	<br><br>
	<label>Email</label>
	<input type="email" name="email" placeholder="Enter your Email">
	<br><br>
	<label>Enter You DOB</label>
	<input type="date" name="dob">
	<br><br>
	<label>Select Your Banch</label>
	<select name="branch">
		<option value="ece" >ECE</option>
		<option value="cse">CSE</option>
		<option value="eee">EEE</option>
	</select>
	<br><br>
	<label>Select Your Gender</label>
	<br>
	<input type="radio" name="gender" value="male">Male<br>
	<input type="radio" name="gender" value="female">Female<br>
	<br>
	<input type="submit" value="Register">
	
	</form>
	
</body>
</html>