<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Register
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'register' %}">Student Register</a>
        <a class="dropdown-item" href="{% url 'fregister' %}">Faculty Register</a>

      </div>
    </li>
      <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Data
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'student_data' %}">student Data</a>
        <a class="dropdown-item" href="#">Faculty Data</a>

      </div>
    </li>
  </ul>
</nav>
<br>

