{% extends 'accounts/base.html'%}

{% block content %}

<div class="container bg-success col-md-4">
	<h1 class="text-center text-warning">ChangePassword</h1>
	<form action="#" method="POST">
		{% csrf_token %}
		<b>
			<div class="form-group">
				<label for="old">OldPassword:</label>
				<input type="password" class="form-control" placeholder="Enter OldPassword" id="old" name="oldpwd" required="true">
			</div>
			<div class="form-group">
				<label for="new">NewPassword:</label>
				<input type="password" class="form-control" placeholder="Enter NewPassword" id="new" name="newpwd" required="true">
			</div>
			<div class="form-group">
				<label for="con">Re-enterPassword:</label>
				<input type="password" class="form-control" placeholder="Re-enterPassword" id="con" name="conpwd" required="true">
			</div>
		</b>
		<div class="text-center">
			<input type="submit" value="Change" class="btn btn-outline-primary btn-lg mb-3">
		</div>
	</form>
</div>
{% endblock %}